.container {
  margin-right: 0.5rem;

  input[type="checkbox"] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: black;
    border: 1px solid var(--blue);
    border-radius: 999px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

    &:hover {
      background: rgba(30, 111, 159, 0.2);
    }

    &::before {
      position: relative;
      top: -2px;
      content: url("../../assets/vector.svg");
      opacity: 0;
    }
    &:checked {
      border-color: var(--dark-purple);
      background: var(--dark-purple);

      &:checked:hover {
        border-color: var(--purple);
        background: var(--purple);
      }

      &::before {
        opacity: 1;
      }
    }
  }
}
