.container {
  background-color: var(--gray-700);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
  }
}

.main {
  max-width: 736px;
  margin: 0 auto;
  
  .contentMain {
    position: relative;
    top: -26px;
  }
}
