.container {
  display: flex;
  flex-direction: column;
  min-height: 287px;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    line-height: 140%;

    .completeTasks {
      display: flex;
      gap: 0.5rem;
      font-weight: 700;

      span:first-child {
        color: var(--blue);
      }

      span + span {
        display: flex;
        background: var(--gray-400);
        padding: 0.125rem 0.5rem;
        border-radius: 999px;
        color: var(--gray-200);
        align-items: center;
        justify-content: center;
      }
    }

    .completed {
      display: flex;
      gap: 0.5rem;
      font-weight: 700;

      span:first-child {
        color: var(--purple);
      }

      span + span {
        display: flex;
        background: var(--gray-400);
        padding: 0.125rem 0.5rem;
        border-radius: 999px;
        color: var(--gray-200);
        align-items: center;
        justify-content: center;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-top: 1px solid #333333;
    border-radius: 8px;

    .emptyContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--gray-300);
      padding: 4rem 1.5rem;
      line-height: 140%;

      span {
        margin-top: 1rem;
        font-weight: 700;
      }
    }

    .taskList {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .taskElementContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: var(--gray-500);
        border-radius: 8px;
        min-height: 4.5rem;
        padding: 1rem;
        border: 1px solid var(--gray-400);

        p {
          color: var(--gray-100);
          line-height: 140%;
          font-size: 0.875rem;
          overflow-wrap: anywhere;
          flex: 1;
        }

        .checkboxMarkup {
          color: var(--gray-300);
          text-decoration: line-through;
        }
      }
    }
  }
}
